/**
 * 
 */
 body{
    background: #FFF url('../img/grey.png');
 }
 .main_menu{
    background: #000 url('../img/navy_blue.png');
 }
 .server-status {
    list-style: none;
 }
 .server-status li {
    float:  left;
 }
 .item img{
    width: 870px;
    height: 500px;
 }
 .server-heading {
    padding-top: 60px;
    height: 100px;
    /* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(left top, circle farthest-side, #CF5FD3 0%, #68006C 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(left top, circle farthest-side, #CF5FD3 0%, #68006C 100%);

/* Opera */ 
background-image: -o-radial-gradient(left top, circle farthest-side, #CF5FD3 0%, #68006C 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, left top, 0, left top, 846, color-stop(0, #CF5FD3), color-stop(1, #68006C));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(left top, circle farthest-side, #CF5FD3 0%, #68006C 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-side at left top, #CF5FD3 0%, #68006C 100%);

}
.server-banner {
    height: 100px;
    background: url('../img/banner.png') no-repeat bottom;
    margin-top: -5px;
}
.copyright{
    text-align: center;
}
